.grid{
    position: absolute;
    width: 560px;
    height: 300px;
    border: solid black 1px;
    margin-top: 80px;
}
.block{
    position: absolute;
    width: 100px;
    height: 20px;
    background-color: blue;
    left: 50px;
    bottom: 50px;
    margin-top: 20px;
}
body{
    background-color: #045de9;
    background-image: linear-gradient(315deg, #045de9 0%, #09c6f9 74%);
}
.user{
    position: absolute;
    width: 100px;
    height: 20px;
    background-color: purple;
    left: 50px;
    bottom: 50px;
}
.ball{
    position: absolute;
    width: 20px;
    height: 20px;
    /* para que se vea redondo */
    border-radius: 10px;
    background-color: red;
}